<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Add Doctor</title>
    <script th:href="@{js/jquery.min.js}"></script>
    <link th:href="@{css/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: ghostwhite;">
<nav class="navbar navbar-inverse" style="background: rgb(59,0,255); background: linear-gradient(90deg, rgba(59,0,255,1) 4%, rgba(0,113,255,1) 100%);">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" style="color: white; letter-spacing: 3px; font-weight: 600; font-family: fantasy;font-weight: 400;font-size: x-large;">Hospital</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}" style="color: white;">Dashboard</a></li>
                <li><a th:href="@{/add_cou}" style="color: white;">Add New Doctor</a></li>
                <li><a  th:href="@{/dashboard}"style="color: white;">All doctors</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span>
                    Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="background-color: #8c8c8c; width: 50%; margin: auto; margin-top: 5%; padding: 5% 5% 5% 5%; ">
    <div class="jumbotron jumbotron-fluid" style="background-color: ghostwhite">
        <div class="container">
            <h1 style="text-align: center; font-family: sans-serif, Serif ;font-size: 30px; font-weight: 700; color: white; background-color: #66afe9; padding: 10px;">Enter the
                Doctor details</h1>
            <hr>
            <form th:action="@{/doctor}" method="post"
                  class="form">
                <input name="_method" type="hidden" value="POST">
                <div class="form-group">
                    <label for="doctorName">Doctor Name</label>
                    <input class="form-control" name="doctor_name" type="text" id="doctorName"
                           placeholder="Enter doctor name here"
                           required>
                    <div class="alert alert-warning"></div>
                </div>
                <div class="form-group">
                    <label for="totalHours">Practice time (Years)</label>
                    <input class="form-control" name="years" type="number" id="totalHours"
                           placeholder="Enter practice time here"
                           required>
                    <div class="alert alert-warning"></div>
                </div>
                <input type="Submit" class="btn btn-success col-4">
                <input type="button" onclick="cancel()" class="btn btn-success col-4" value="cancel">
            </form>
        </div>
    </div>

</div>
</body>
<script>
    function cancel() {
        this.location.reload()
    }
</script>
</html>